In [74]:
from scrapy import Selector
import requests
import re
import pandas as pd

In [17]:
response = requests.get('https://lcu.edu.ng/index.php/all-courses')
html = response.content

In [18]:
selector = Selector(text=html)

In [65]:
xpath = '//div[@class="card"]/div[@class="card-top"]/span'
xpath2 = '//div[@class="card"]//h1'

In [67]:
course_list = links.xpath('text()').getall()

In [60]:
price_list = links_price.xpath('text()').getall()

In [88]:
pricelist = []
for price in price_list:
    # Extract numbers with the Naira sign and comma
    matches = re.findall(r'â‚¦([\d,]+)', price)
    
    if matches:
        # Remove commas and convert to an integer
        extracted_price = int(matches[0].replace(',', ''))
        pricelist.append(extracted_price)

print(pricelist)

[850000, 850000, 850000, 850000, 850000, 850000, 850000, 850000, 650000, 4500000, 650000, 2500000, 1500000, 850000, 2500000, 350000, 2500000, 850000, 850000, 850000, 350000, 510000, 510000, 350000, 510000, 350000, 650000, 650000, 850000, 350000, 350000, 350000, 200000, 350000, 650000, 350000, 350000, 350000, 350000, 510000, 510000, 200000, 350000, 200000, 350000, 350000, 350000, 200000, 200000, 200000, 200000, 200000, 200000, 200000, 200000, 200000, 200000, 250000, 200000, 350000, 350000, 650000, 650000, 350000, 350000, 350000, 650000, 650000, 650000, 650000, 510000, 350000, 350000, 250000]

In [73]:
course_list

['Civil Engineering',
 'Mechanical Engineering',
 'Software Engineering',
 'Electrical Electronics Engineering',
 'Telecomms Engineering',
 'Computer Engineering',
 'Brewing Science',
 'Optometry',
 'Geosciences',
 'Medicine',
 'Wood Product Engineering',
 'Nursing Science',
 'Dentistry',
 'Physiotherapy',
 'Pharmacy',
 'Biochemistry',
 'Law',
 'Computer Sci with Economics',
 'Computer Sci with Electronics',
 'Computer & Info. Sci',
 'Microbiology',
 'Accounting',
 'Business Administration',
 'Economics',
 "Politics & Int'l Relations",
 'Public Administration',
 'Mass Comm. & Media Tech.',
 'Public Health',
 'Medical Lab. Science',
 'Envr. Mgt & Toxicology',
 'Science Lab. Technology',
 'Entrepreneurship',
 'Religious Studies',
 'Estate Management',
 'Architecture',
 'Banking & Finance',
 'Criminology & Security Studies',
 'Library & Info. Science',
 'Performing Arts & Film Studies',
 'Human Anatomy',
 'Physiology',
 'Chemistry',
 'Physics with Electronics',
 'Biology',
 'Marketing',
 'Psychology',
 'Sociology',
 'Education Biology',
 'Education Chemistry',
 'Education Physics',
 'Education English',
 'Education Mathematics',
 'Computer Sc. Education',
 'Guidance & Counselling',
 'Educational Management',
 'Business Education',
 'Social Studies',
 'Office & Information Mgt',
 'Human Kinetics & Sport Sci',
 'Nutrition & Dietetics',
 'Industrial Rel. & Personnel Mgt',
 'Info. Sci. & Media Studies',
 'Radiography',
 'Health Info. Management',
 'Community Health',
 'Environmental Health Sc.',
 'Information Systems',
 'Information Technology',
 'Forensic Science',
 'Cyber Security',
 'Tourism & Hospitality Management',
 'Social Work',
 'English & Literary Studies',
 'Creative Arts and Design']

In [89]:
course_price_df = pd.DataFrame({'degree_programme': course_list, 'Price':pricelist})

In [91]:
print(course_price_df)

                      degree_programme   Price
0                    Civil Engineering  850000
1               Mechanical Engineering  850000
2                 Software Engineering  850000
3   Electrical Electronics Engineering  850000
4                Telecomms Engineering  850000
..                                 ...     ...
69                      Cyber Security  650000
70    Tourism & Hospitality Management  510000
71                         Social Work  350000
72          English & Literary Studies  350000
73            Creative Arts and Design  250000

[74 rows x 2 columns]

In [92]:
course_price_df.to_csv('programme_price_list_UG.csv')